body { margin: 0; font-family: sans-serif; display: flex; height: 100vh; }

.container { display: flex; width: 100%; }

/* Qaybta bidix */
.left-panel {
    background-color: #0078d4;
    color: white;
    width: 40%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Qaybta midig */
.right-panel {
    width: 60%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form { display: flex; flex-direction: column; width: 300px; }
input { margin-bottom: 15px; padding: 10px; border: 1px solid #ccc; }
button { padding: 10px; background-color: #0078d4; color: white; border: none; cursor: pointer; }